<div id="wrap">
	<div id="main-region" class="container"></div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom" id="footer-region" class="container">
</div>

<%= javascript_tag do %>
	$(document).ready(function() {
		MobileSafety.start();
	})
<% end %>
